/* Estilo usado na tag body da página */
body {
    color: #ffffff;
    background-color: #000000;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    padding: 0px 50px;
}

/* Estilo usado na tag nav da página */
ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    align-items: center;
    padding: 16px;
}

a {
    color: #ffffff;
    text-decoration: none;
}

nav a:hover {
    color: #ffd903;
}

/* Estilo usado na tag header da página */
header img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 5px solid #ffd903;
}

.center {
    text-align: center;
}

h1 {
    color: #ffd903;
}

/* Estilo usado na tag main da página */
p {
    text-align: justify;
}

/* Estilo usado na tag footer da página */
footer img {
    width: 40px;
    height: 40px;
}

footer {
    display: flex;
    justify-content: center;
}

footer a {
    margin: 20px;
    text-align: center;
}

footer a:hover {
    color: #ffd903;
}